// layout params
$baseMaxWidth             = 960px
$baseMinWidth             = $baseMaxWidth
$boxModel                 = border-box
// column params
$column-template          = 780px
$column-ctr               = 580px
$column-lt                = 175px
$column-rt                = 160px
// colors
$baseFontColor            = #656565
$titleColor 		          = #212121
$brandColor               = #e55100
$inputColor               = $baseFontColor
//links colors
$linkColor                = darken($brandColor, 10%)
$activeLinkColor          = $linkColor
$visitedLinkColor         = $linkColor
$hoveredLinkColor         = $linkColor
$focusedLinkColor         = $linkColor
//fonts
$baseFamily               = Arial, "Helvetica Neue", Helvetica, sans-serif;
$brandFamily              = kelson-sans-regular-cyr;
//misc
$baseFontSize             = 14px
$baseLineHeight           = 1.4
$paragraphSpace           = 10px
$inputHeight              = 35px