<div class="l-main__primaryColumn__container">
  <p>При производстве мебели и комплектующих в промышленных масштабах применяют несколько видов лент, включая АБС, кромочную ленту на клеевой основе и ПВХ. Если речь идет об эксклюзивной дизайнерской мебели или мебели класса «Премиум», то применяют оригинальные кромочные материалы, включая кромку из алюминия, высокий глянец, кромку 3D и т.д.</p>
  <p>Ширина кромки 19, 25, 35 или 40 мм <br/> Толщина от 0,4, 1 или 2 мм</p>
  <p>Вы можете узнать цены <a href="#">по запросу!</a> Но мы не скажем... Потому что они баааальшие.</p>
</div>

<div class="product-preview-wrapper">
  <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-1.png')">
    <figcaption>
      <p><span class="this__title">Кромка древесная 1</span></p>
      <p><span class="this__title--sub">150 видов</span></p>
    </figcaption>
  </figure>
  <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-2.png')">
    <figcaption>
      <p><span class="this__title">Кромка древесная 2</span></p>
      <p><span class="this__title--sub">150 видов</span></p>
    </figcaption>
  </figure>
  <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-3.png')">
    <figcaption>
      <p><span class="this__title">Кромка древесная 3</span></p>
      <p><span class="this__title--sub">150 видов</span></p>
    </figcaption>
  </figure>
</div>

<div class="l-main__primaryColumn__container">
  <p>Поливинилхлорид – это синтетический материал, изготавливаемый из нефтепродуктов и обычной поваренной соли. Чтобы изготовить из него мебельную кромку, смешиваются гранулы пластификатора и красителя, которые затем помещаются в экструдер («миксер») и перемешиваются до однородной массы под воздействием высоких температур.</p>
  <p>Поливинилхлорид – это синтетический материал, изготавливаемый из нефтепродуктов и обычной поваренной соли. Чтобы изготовить из него мебельную кромку, смешиваются гранулы пластификатора и красителя, которые затем помещаются в экструдер («миксер») и перемешиваются до однородной массы под воздействием высоких температур.</p>
  <p>Поливинилхлорид – это синтетический материал, изготавливаемый из нефтепродуктов и обычной поваренной соли. Чтобы изготовить из него мебельную кромку, смешиваются гранулы пластификатора и красителя, которые затем помещаются в экструдер («миксер») и перемешиваются до однородной массы под воздействием высоких температур.</p>
  <p>Поливинилхлорид – это синтетический материал, изготавливаемый из нефтепродуктов и обычной поваренной соли. Чтобы изготовить из него мебельную кромку, смешиваются гранулы пластификатора и красителя, которые затем помещаются в экструдер («миксер») и перемешиваются до однородной массы под воздействием высоких температур.</p>
</div>