<div class="l-main__primaryColumn__container">
  <p>Продажа кромки ПВХ является основным направлением деятельности нашей компании. Мы предлагаем вашему вниманию широкий ассортимент кромочных материалов по выгодной цене, а также обширную складскую программу. Вы можете обратиться к нашим менеджерам для оценки стоимости, или заполнить эту форму:</p>
  <small>* звездочкой помечены обязательные поля</small>
  <form class="priceList-request">
    <label>
      <span class="this__inputLabel">как к вам обращаться*:</span>
      <input class="this__input" type="text" required/>
    </label>
    <label>
      <span class="this__inputLabel">контактный телефон*:</span>
      <input class="this__input" type="tel" required/>
    </label>
    <label>
      <span class="this__inputLabel">электронная почта*:</span>
      <input class="this__input" type="email" required/>
    </label>
    <label>
      <span class="this__inputLabel">город:</span>
      <input class="this__input" type="text"/>
    </label>
    <label>
      <span class="this__inputLabel">название организации:</span>
      <input class="this__input" type="text"/>
    </label>
    <label>
      <span class="this__inputLabel">вид деятельности:</span>
      <input class="this__input" type="text"/>
    </label>
    <label>
      <span class="this__inputLabel">предполагаемый объём закупок:</span>
      <input class="this__input" type="text"/>
    </label>
    <label>
      <span class="this__inputLabel">дополнительная информация:</span>
      <textarea class="this__input"></textarea>
    </label>
    <label>
      <span class="this__inputLabel"></span>
      <span class="this__input">
        <input type="checkbox"/> я не спам-бот, а живое и почти разумное существо!
      </span>
    </label>
    <label>
      <span class="this__inputLabel"></span>
      <span class="this__input">
        <button class="this__button" type="submit">отправить запрос</button>
      </span>
    </label>
  </form>
</div>
