<div class="l-main__primaryColumn__container">
  <div class="product-view">
    <a href="#" class="go-back">вернуться назад к списку</a>
    <div class="this__seo">Блок “радость продвиженца”. Бук бавария светлый, купить. Бук бавария светлый, купить. Бук бавария светлый, купить. Бук бавария светлый, купить. Бук бавария светлый, купить. Бук бавария светлый, купить. Бук бавария светлый, купить. </div>

    <div class="l-jLine--float">
      <figure class="this__photo">
        <img src="http://fakeimg.pl/400x400/?text=400x400">
        <figcaption class="this__photo__label">CW-2K012-27</figcaption>
      </figure>
      <main class="this__main">
        <table>
          <caption>наличие, количество и остатки кромки СВ-301-911 на складе</caption>
          <tr>
            <th>толщина</th>
            <th>ширина</th>
            <th>остаток на складе</th>
          </tr>
          <tr>
            <td>0,4 мм</td>
            <td>19 мм</td>
            <td>100 500 м</td>
          </tr>
          <tr>
            <td>0,4 мм</td>
            <td>19 мм</td>
            <td>100 500 м</td>
          </tr>
          <tr>
            <td>0,4 мм</td>
            <td>19 мм</td>
            <td>100 500 м</td>
          </tr>
          <tr>
            <td>0,4 мм</td>
            <td>19 мм</td>
            <td>100 500 м</td>
          </tr>
          <tr>
            <td>0,4 мм</td>
            <td>19 мм</td>
            <td>100 500 м</td>
          </tr>
        </table>
        <table class="table--left-aligned-content">
          <caption>соответствие ЛДСП других произовдителей</caption>
          <tr>
            <th>производитель</th>
            <th>артикул и название</th>
          </tr>
          <tr>
            <td>ТОМЛЕСДРЕВ</td>
            <td>Бук бавария 5113</td>
          </tr>
          <tr>
            <td>ТОМЛЕСДРЕВ</td>
            <td>Бук бавария 5113</td>
          </tr>
          <tr>
            <td>ТОМЛЕСДРЕВ</td>
            <td>Бук бавария 5113</td>
          </tr>
          <tr>
            <td>ТОМЛЕСДРЕВ</td>
            <td>Бук бавария 5113</td>
          </tr>
        </table>
      </main>
    </div>
  </div><!--end product-view-->

  <div class="henkel-recommended">
    Мы рекомендуем для нанесения использовать
    <a href="#">клеи Henkel.</a> Кроме того, вы можете воспользоваться
    нашей <a href="#">услугой по нанесению клея</a>
  </div>


  <div class="product-preview-wrapper">
    <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-1.png')">
      <figcaption>
        <p><span class="this__title">Кромка древесная 1</span></p>
        <p><span class="this__title--sub">150 видов</span></p>
      </figcaption>
    </figure>
    <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-2.png')">
      <figcaption>
        <p><span class="this__title">Кромка древесная 2</span></p>
        <p><span class="this__title--sub">150 видов</span></p>
      </figcaption>
    </figure>
    <figure class="product-preview" style="background-image: url('assets/img/product-previews/product-3.png')">
      <figcaption>
        <p><span class="this__title">Кромка древесная 3</span></p>
        <p><span class="this__title--sub">150 видов</span></p>
      </figcaption>
    </figure>
  </div>
</div>